@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200;300;400&family=Poppins:wght@100;200;300;400;500;600;700&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
main, header {
    margin: 100px 156px 0 156px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
}


/* header section */
.header-container {
    display: flex;
}
.left-side {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.line{
    width: 4px;
    height: 124px;
    background: #FF5959;
    border-radius: 5px;
}
.title-big p{
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    margin-left: 10px;
}
span{
    color: rgba(255, 173, 90, 1);
}
.lorem {
    margin: 20px 40px 20px 0;
}
.explore-button{
    width: 168px;
    height: 42px;
    background-color: #FF5959;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.explore-button a{
    text-decoration: none;
    color: #FFFFFF;
}
.right-side {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
}
.right-side img{
    width: 100%;
}

/* my mission section */
section{
    margin-bottom: 100px;
}

.myMission-container{
    display: flex;
    flex-direction: column;
}
.t1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: rgba(19, 16, 58, 1);
}
.content-mission {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* display: inline-flex;
    flex-wrap: wrap;
    width: calc(100% + 12px); */
}
.content {
    box-sizing: border-box;
    width: 32%;
    height: 376px;
    border-radius: 26px;
}
.mission {
    background-color:  rgba(79, 157, 166, 0.1);
}
.vission {
    background-color: rgba(255, 89, 89, 0.1);
}
.goals {
    background-color: rgba(255, 244, 214, 1);

}
.content img{
    width: 141px;
    height: 141px;
    padding: 15px 12px 0px 32px;
}
.content h4,
.content p {
    padding: 12px 12px 0px 32px;
}

/* section two */
.section-two{
    display: flex;
}
.section2-left {
    width: 40%;
}

.section2-left img {
    width: 100%;
}
.section2-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 50px;
}
.title-s2{
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
.content-s2 p{
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto;
}
.button-read {
    width: 225px;
    height: 45px;
    background-color: rgba(255, 89, 89, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-read a{
    text-decoration: none;
    color: #FFFFFF;
}

/* section three */
.section-three{
    display: flex;
}
.section3-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-right: 50px;
}
.title-s3{
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
.content-s3 p{
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto;
}
.section3-right {
    width: 40%;
}
.section3-right img {
    width: 100%;
}

/* last section */
.section-four {
    display: flex;
    flex-direction: column;
}
.t2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 131%;
    color: rgba(19, 16, 58, 1);
}

.s4-content {
    display: flex;
    padding-top: 75px;
}
.section4-left{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.section4-left img {
    width: 50%;
}
.section4-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-s4 p{
    font-weight: 400;
    line-height: 24px;
    margin: 20px auto;
}


/* footer */
footer{
    background-color: #0B0D17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h1 {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.5;
    color: #FFFFFF;
    text-align: center;
    margin: 15px auto;
}
.footer p {
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 12px;
    color: #D9DBE1;
    margin-bottom: 15px;
}
span.footer-span{
    color: #FF5959;
}